


body {
  background: #444;
}

.app {
  background: white;
  padding: 1em;
  font-size: 2em;
  font-family: sans-serif;
}

button {
  margin-top: 1em;
  font-size: 1em;
  padding: .25em;
}

.console {
  margin: 1em;
  color: lightgreen;
  font-size: 18pt;
  font-family: monospace;
  word-break: break-all;
}

a {
  color: white;

}

body::after {
  content: "";
  width: 4em;
  height: 4em;
  margin: 1em;
  right: 0;
  bottom: 0;
  background-image: url("logo.png");
  background-size: contain;
  position: absolute;
}
